on:
  push:
    branches:
      - main

env:
  DOTNET_NOLOGO: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1

jobs:
  package-commit:
    name: Package commit
    runs-on: ubuntu-latest
    if: "!contains(format('{0} {1}', github.event.head_commit.message, github.event.pull_request.title), '[ci-skip]')"
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Build Project
        run: dotnet build

      - name: Get Nightly Version
        id: nightly
        run: printf "version=%0*d" 5 $(( ${{ github.run_number }} - 3 )) >> "$GITHUB_OUTPUT"

      - name: Package Proejct
        run: |
          dotnet pack -c Release -o build -p:Nightly=${{ steps.nightly.outputs.version }}
          dotnet nuget push "build/*" --skip-duplicate -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json

  generate-documentation:
    name: Generate Documentation
    runs-on: ubuntu-latest
    needs: package-commit
    permissions:
      pages: write
      id-token: write
      contents: read

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Build Docs
        run: |
          dotnet build
          dotnet tool install -g docfx --version 2.78.3 --allow-downgrade
          docfx docs/docfx.json

      - name: Upload Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs/_site/'

      - name: Deploy Pages
        uses: actions/deploy-pages@v4